{{#each alumns as | alumn | }}
    <ul>
        <li><b>Nº Expediente:</b> {{ alumn.n_expediente }}</li>
        <li><b>Nombre:</b> {{ alumn.nombre }}</li>
        <li><b>Apellidos:</b> {{ alumn.apellido1 }} {{ alumn.apellido2 }}</li>
        <li><b>DNI:</b> {{ alumn.dni }}</li>
    </ul>
    <hr>
{{/each}}